[Unit]
Description=kube-scheduler
Documentation=http://kubernetes.io/docs/

[Service]
EnvironmentFile=/etc/kubernetes/kube-scheduler.conf
ExecStart=/usr/local/bin/kube-scheduler $KUBE_OPTS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target

